@{
    ViewData["title"] = "Carrinho";
}

<link rel="stylesheet" href="~/css/shopCartStyle.css">

<body>
    <div class="banner">
        <img src="icons/MeuCarrinho.png">
    </div>

    <div class="shopCartContainer">

        <div class="shopCartItemsList">
        </div>

        <div class="shopCartSummary">
        </div>
    </div>

    <script src="js/cartList.js"></script>
</body>