<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Villen Store</title>
    <link rel="stylesheet" href="css/indexStyle.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="iconLogo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="icons/logo.png" alt="logo"></a>
            </div>
            <div class="inputGroup">
                <div class="inputIcon">
                    <img class="searchIcon"
                         src="icons/lupeIcon.png">
                </div>
                <input class="inputField"
                       id="searchBar"
                       type="text"
                       placeholder="Pesquisar">
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a asp-area="" asp-controller="InsertProducts" asp-action="Index"><img id="uploadIcon" src="icons/uploadIcon.png"></a></li>
                    <li><a asp-area="" asp-controller="ShopCart" asp-action="Index"><img id="shopIcon" src="/icons/shopBagIcon.png" alt="shopBag"></a></li>
                    <li><img id="userIcon" src="/icons/userIcon.png" alt="userIcon"></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="footerContent">
            <div id="footerContacts">
                <a href="https://pt.wikipedia.org/wiki/%C2%A1Tchau_Radar!" class="footerLink"><h1>¡TchauRadar!</h1></a>

                <div id="footerSocialMedia">
                    <a href="https://github.com/Eduardo-Ordakowski" id="github" class="footerLink"><img src="icons/gitHubIcon.png"></a>
                    <a href="https://www.youtube.com/@@EduardoVille-Villen" id="youtube" class="footerLink"><img src="icons/youtubeIcon.png"></a>
                </div>
            </div>

            <ul class="footerList">
                <li>
                    <a href="#" class="footerLink">Sobre nós</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
