@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Crimson Text", sans-serif;
}
/*Definindo as cores que vou utilizar*/
:root {

    --black: #060606;
    --blackGrey: #161616;
    --boardBlue: #243B97;
}
.insertBanner{
    text-align: center;
    padding: 100px
}
.insertBanner img{
    width: 25%;
}
/*Ajustando o container onde os itens inseridos vão ficar*/
.containerInsert{
    background-color: var(--black);
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
/*Desta forma podemos configurar o geral da table*/
table{
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

/*Configura ambos cabeçalho e linhas*/
th, td {
    padding: 15px;
    vertical-align: middle;
}

/*Configura cabeçalho*/
thead th {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}
/*Configura linhas*/
tbody td{
    background-color: var(--blackGrey);
    padding: 15px;
    vertical-align: middle;
    font-size: 18px;
    border: none;
}

/*Especificamente arrendonda apenas os cantos das linhas.*/
tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Estilizando botões*/

button {
    background-color: var(--blackGrey);
    border: 1px solid black;
    
    color: white;
    font-size: 18px;
    
    padding: 15px;
    border-radius: 20px;

    cursor: pointer;
    transition: backgroud-color 0.2s, border-color 0.2s, transform 0.1s;   
}

button:hover {
    background-color: #2c2f33;
    border-color: #3c3c3c;     
}

button:active {
  transform: scale(0.97); 
  background-color: var(--blackGrey);
}

/*Estilizando Modal*/

.modal-header{
    display:flex;
    justify-content: space-between;
    background-color: var(--black);
    border-radius: 0px;
    border-color: var(--black);
    
}

.productDetails img {
    height: auto;
    width: 50px;
}
/*Modal Botões*/
.buttonClose {
    padding: 10px;
}

.buttonClose img{
    width: 30px;
}

.modal-body {
    background-color: var(--blackGrey);
}

.modal-body form {
    border-radius: 0px;
    display: flex;
    align-items: flex-start;
    background-color: var(--blackGrey);
    padding: 0px;
}

.modal-body form .modalImgHolder{
    position: relative;
}
.modal-body form img {
    padding: 10px;
    height: 150px;
    width: 110px;
}

.modal-body form .inputField{
    flex-basis: 68px;
    padding-left: 200px;
}

.modal-footer {
    background-color: var(--black);
    border-color: var(--black);
}