@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Crimson Text", sans-serif;
}
/*Definindo as cores que vou utilizar*/
:root {

    --black: #060606;
    --blackGrey: #161616;
    --boardBlue: #243B97;
}

/* shopCartStyle.css Corrigido */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Crimson Text", sans-serif;
}

:root {
    --black: #060606;
    --blackGrey: #161616;
    --boardBlue: #243B97;
}

.shopCartContainer{
    display:grid;
    grid-template-columns: repeat(2,1fr);

    justify-items: center;
}

.shopCartItem{
    display: grid;
    grid-template-columns: auto 1fr auto;

    gap:15px;

    background-color: var(--black);
    height: 200px;
    width: 900px;

    align-items: center;
    margin-left: 100px;
    margin-bottom: 10px;

    border: 2px solid #243B97;
    border-radius: 20px;
}

.shopCartProductImg{
    text-align: center;
    margin-left: 20px;
}
.shopCartProductImg img{
    height: 150px;
    border-radius: 20px;
}

.shopCartProductInfo #productTypeName{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.shopCartProductInfo #productPrice{
    font-size: 20px;
    margin-bottom: 10px;
}

.shopCartProductInfo #productQuantity{
    font-size: 15px;
}
.shopCartTrashIcon {
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.shopCartTrashIcon button{
    height: 63px;
}
.shopCartTrashIcon img{
    width: 30px;
}

.shopCartSummary{
    display: flex;
    flex-direction: column;

    background-color: var(--black);
    
    margin-left: 100px;
    width: 600px;
    height: 350px;
    padding: 20px;
    
    border: 2px solid var(--boardBlue);
    border-radius: 20px;
}

.shopCartSummary h1{
    text-align: center;
    margin-bottom: 20px;
}

.summaryQuantity{
    display:flex;
    justify-content: space-between;
    
    font-size: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    gap: 10px;
}

.summaryTotalValue{
    display: flex;
    justify-content: space-between;

    flex-grow: 1;

    font-size: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    gap: 10px;
}

.summaryButtons {
    display: flex;

    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.summaryButtons button{
    font-weight: bold;

    padding: 10px;
}
.summaryButtons #finishButton{
    background-color: #2E7D32;
}